* {
    font-family: "Roboto";

}
.header{
    display: flex;
    justify-content: space-evenly;
}
.logo-header{
    color: #4a99d3;
    font-weight: bold;
}
.section2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 72px 0px 25px;
    background-color: #4b008142;/*por el momento*/
    width: 100%; 
}
.section2-title{
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 30px;
    color: #260041;
    line-height: 1.4;
    letter-spacing: 1px;
    text-align: left;
}
.section2-text{
    font-size: 20px;
    color: #260041;
    padding-bottom: 25px;
    line-height: 1.8;
    text-align: left;}


.ayuda3 {
    background-color: #ffffff;
}

.titulo-principal-ayuda3 { 
    width: 380px;
    height: 91.2px;
    font-weight: 900;
    font-size: 36px;
    color: #f85e9f;
    margin: 40px;
    letter-spacing: 1.8px;

}

.contenedor3 {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}

.ayuda3 article {
    border-radius: 10px;
    background-color: #ffffff;
    margin: 50px;
    padding: 7%;
    box-shadow: 5px 20px 50px rgb(74, 153, 211, 0.2);
}

.titulo-secundario-ayuda3 { /* ajustar font- family*/

    font-size: 20px;
    color: #0f001a;
    margin-top: 20px;
    margin-bottom: 8.5px;
}

.learn-more3 { /* ajustar font- family*/

    font-size: 14px;
    color: #4a99d3;
    text-decoration: none;
}

.ayuda3 p {  /* ajustar font- family*/
    font-size: 16px;
    color: #0f001a;
    opacity: 60%;
    margin-bottom: 15px;
}

.img3 {
    /* margin: 30px; */
    transform: scale(0.9);
}


.section4 {
    width: 100%;
    background-color: rgba(74, 153, 211, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
}

.titulo_section4 {
    color: #4a99d3;
    font-size: 26px;
    margin-top: 40px;
    font-weight: bold;    
    width: 40%;
    align-items: center;
    display: flex;
    
    text-align: center;
}

.article_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.titulo_article4 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

.p_article4 {
    font-size: 16px;
    margin-bottom: 60px;
    
}

.img_4 {
    width: 20%;
    padding-bottom: 20px;
}

@media (width > 768px) {
    .section4 {
        display: flex;
        
    } 

    .titulo_section4 {
        justify-content: center;
        
    }

    .all_article4 {
        display: flex;
        flex-direction: row;
        
    }

    .article_4 {
        justify-content: flex-end;
    }

    
}

.section5{
    background-color: #d9d9d9;;
    font-weight: bold;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px; 
    top: 10px;
    right: 10px;
    width: 100%;
    
}

.container5{

}


.tittle5{
   color: #f85e9f;
   line-height: 27,6px;
   letter-spacing: 4.6px;
   font-style: normal;
   line-height: 1.2;
   padding-top: 64px;
   padding-bottom: 64px;
}


.article5{
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    width: 90%;
}

.article5>img {
    width: 100%;
}

.product{
    padding: 32px;
    display: flex;
    justify-content: space-around;
}

span{
    color: #f85e9f;  
}
.footer{
    background-color: #4a99d3;
    display: flex;
    justify-content: space-between;
    align-content: end;
}
.logo-footer {
    color: white;
    font-weight: bold;
}
.socials{
    display: flex;
    gap: 10px;
}