@import 'header';
@import 'footer';
@import '../core/variables';
@import '../core/reset';

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap:30px;
    }
}

/*Formulario*/
.title {
    color: #4a99d3;
    border-bottom: 1px solid  #4a99d3;
    width: 150px;
    margin-top: 100px;
    font-family: $font-contact;
    font-size: 2.4rem;
    text-align: center;
}

.map-small {
    width: 300px;
    height: 270px;
}

.map-medium {
    display: none;
}

.form_title {
    font-family: $font-contact;
    font-size: 2rem;
    padding-top: 28px;
    margin-bottom: 20px;
}

.name {
    font-family: $font-contact;
    font-size: 1.6rem;
    
}

fieldset {
    border: 1px solid grey;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 350px;
    margin: 60px;
    @media (min-width: 768px) {
        width: 300px;
        margin: 10px;
    }
}

input, textarea {
    border: none;
    margin: 5px;  
}

input {
    height: 30px;
}

#email {
    height: 35px;
}

.form_b {
    width: 350px;
    font-family: $font-contact;
    font-size: 1.8rem;
    color: white;
    background-color: rgb(74, 153, 211);
    border-radius: 4px;
    font-weight: bold;
    @media (min-width: 768px) {
        width: 300px;
    }
}

.map {
    margin: 60px;
    @media (min-width: 768px) {
        margin: 0px;
        margin-top: 50px;
    }
}

.div_section {
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin: 40px;
    }
}
