.section2{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: blue;

  &_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 72px 0px 25px;
    background-color: green;
    @media (min-width:768px){
      justify-content: center;
      width: 45%;
      margin-left: 255px;
      margin-right: 32px;
      margin-bottom: 75.2px;
    }

    &-title{
      font-size: 50px;
      font-weight: 500;
      margin-bottom: 30px;
      color: #260041;
      line-height: 1.4;
      letter-spacing: 1px;
      text-align: left;
      @media (min-width:768px){
        margin-bottom: 15px;
        background-color: orange;
        margin-top: 74px;
      }
    }

    &-text{
      font-size: 20px;
      color: #260041;
      margin-bottom: 25px;
      line-height: 1.8;
      text-align: left;
      @media (min-width:768px){
        background-color: yellow;
        margin-bottom: 60px;
        margin-right: 0;
      }
    }

    &-buttons{
      background-color: pink;
      display: none;
      @media (min-width:768px){
        width: 65%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;margin-bottom: 73.4px;
      }
    }
  }

  .buttons_img{
    @media (min-width:768px){
      width: 45%;
    }
  }

  &_right{
    display: none;
    @media (min-width:768px){
      background-color: red;
      width: 35%;
      display: flex;
      justify-content: end;
      margin-right: 76px;
      margin-bottom: 75.2px;
    }
    
  }
}


  //Mockup image
@media (min-width:768px){
  .section2_right img{
    object-fit: contain;
    width: 100%;
  }
}


