.section4 {
    width: 100%;
    background-color: rgba(74, 153, 211, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
}

.section4_title {
    color: #4a99d3;
    font-size: 26px;
    margin-top: 40px;
    font-weight: bold;    
    width: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section4_title-span {
    color: #4a99d3;
}

.article4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.article4_title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

.article4_p {
    font-size: 16px;
    margin-bottom: 60px;
    width: 45%;
    text-align: center;
    
}

.article4_img {
    width: 20%;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .section4 {
        display: flex;
        
    } 

    .section4_title {
        margin-top: 60px;
        margin-bottom: 40px;
        flex-direction: row;
        justify-content: center;
        padding: 10px;        
    }

    .section4_title-span {
        margin: 5px;
    }
    .section4_article {
        display: flex;
        flex-direction: row;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .article4 {
        justify-content: center;
        display: flex;
    }    

    .article4_title {
        display: flex;
        justify-content: center;
        }

    .article4_p {
        width: 70%;
        justify-content: center;
    }

    .article4_img {
        width: 20%;
    }

    .img1 {
        width: 30%;
    }
}