.section2{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.section2-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 72px 0px 25px;
  width: 100%;
}

.section2-title {
  font-size: 50px;
  font-weight: 500;
  padding-bottom: 30px;
  color: #260041;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: left;
}

.section2-text {
  font-size: 20px;
  color: #260041;
  padding-bottom: 25px;
  line-height: 1.8;
  text-align: left;
}
.section2-buttons{
  display: none;
}

.section2-right{
  display: none;
}


@media (width>768px){
.section2-text{
  margin-bottom: 60px;
}
.section2-buttons{
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.section2-box-left, .section2-box-right{
  width: 60%;
  height: 60px;
}

.section2-left{
  // padding-left: 255px;
  width: 50%;
}
.section2-right{
  width: 50%;
  background-color: blue;
  // padding-right: 76px;
  padding-bottom: 75.2px;
  display: flex;
  justify-content: end;
}

.section2-right img{
  width: 100%;
}

}