$font-slab: 'Roboto Slab';

.section3 {
    background-color: #ffffff;
    padding-top: 150px;
    padding-bottom: 140px;
    box-shadow: inset 0 4px 16px rgb(75, 0, 129, 26%);
}

.column3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-principal-section3 { 
    height: 91.2px;
    font-weight: 900;
    font-size: 36px;
    color: #f85e9f;
    margin: 40px 40px 0px 40px;
    letter-spacing: 1.8px;
}

.article3 {
    font-family: $font-slab;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 50px;
    padding: 7%;
    box-shadow: 5px 20px 50px rgb(74, 153, 211, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 380px;
}

.titulo-secundario-section3 {
    font-size: 20px;
    font-weight: bold;
    color: #0f001a;
    letter-spacing: 0.4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    color: #0f001a;
    opacity: 60%;
    line-height: 26px;
    padding-bottom: 14px;
}

.learn-more3 {
    font-size: 14px;
    font-weight: bold;
    color: rgb(74, 153, 211);
    text-decoration: none;
    padding-bottom: 8.5px;
    line-height: 30px;
    letter-spacing: 0.7px;
}

.img3 {
    margin: 10px;
    transform: scale(0.8);
}

// media tablet

@media (min-width: 768px) {
    .section3 {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        padding: 7%;
    }

    .column3 {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}