<footer class="footer">
    <div class="logosocials">
        <p class="logo-footer">AdaShop</p>
        <div class="socials">
            <i class="fa-brands fa-facebook-f" style="color: #ffffff;font-size: 20px;"></i>
            <i class="fa-brands fa-twitter" style="color: #ffffff;font-size: 20px"></i>
            <i class="fa-brands fa-instagram" style="color: #ffffff;font-size: 20px"></i>
            <i class="fa-brands fa-linkedin" style="color: #ffffff;font-size: 20px"></i>
        </div>
    </div>
    <nav>
        <ul class="menu-footer">
            <li>Inicio</li>
            <li>Nosotros</li>
            <li>Contacto</li>
        </ul>
    </nav>
</footer>