<footer class="footer">
    <p class="logo-footer">AdaShop</p>
    <div class="socials">
        <i class="fa-brands fa-facebook" style="color: #ffffff;font-size: 25px;"></i>
        <i class="fa-brands fa-twitter" style="color: #ffffff;font-size: 25px"></i>
        <i class="fa-brands fa-instagram" style="color: #ffffff;font-size: 25px"></i>
        <i class="fa-brands fa-linkedin" style="color: #ffffff;font-size: 25px"></i>
    </div>
    <nav>
        <ul class="menu-footer">
            <li>Inicio</li>
            <li>Nosotros</li>
            <li>Contacto</li>
        </ul>
    </nav>
</footer>