<section class="section2">
    <div class="section2-left">
        <h1 class="section2-title">Nueva App E-commerce best for You</h1>
        <p class="section2-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet sed vulputate vitae velit dictum cursus amet. Turpis donec ut velit quis. Cursus commodo, eget urna, sapien amet. </p>
        <div class="section2-buttons">
            <div class="section2-box-right"><img src="./images/google.svg" alt=""></div>
            <div class="section2-box-left"><img src="./images/apple.svg" alt=""></div>
            
        </div>
    </div>
    <div class="section2-right">
            <img src="./images/Mockup.png" alt="">
    </div>
    </section>
<section>