<section class="section2">
    <div class="section2_left">
        <h1 class="section2_left-title">Nueva App E-commerce PAGAM(e)</h1>
        <p class="section2_left-text">Compra online de forma rápida y segura, encuentra los productos que necesitas. Con nuestra app, elige, paga y recibe con facilidad. No esperes más, haz tu compra ahora.</p>
        <div class="section2_left-buttons">
            <img class="buttons_img" src="./images/google.svg" alt="">
            <img class="buttons_img" src="./images/apple.svg" alt="">
            
        </div>
    </div>
    <div class="section2_right">
            <img src="./images/Mockup.png" alt="">
    </div>
    </section>
<section>