<section class="section4">
    <h4 class="titulo_section4">Cómo trabajamos</h4>
    <div class="all_article4">
        <article class="article_4">
            <img src="./images/user-plus-solid.svg" alt="" class="img_4">
            <h5 class="titulo_article4">Crea una cuenta</h5>
            <p class="p_article4">Lorem ipsum</p>
        </article>
        <article class="article_4">
            <img src="./images/check-solid.svg" alt="" class="img_4">
            <h5 class="titulo_article4">Obten autorización</h5>
                <p class="p_article4">Lorem ipsum</p>
        </article>
        <article class="article_4">
            <img src="./images/face-smile-regular.svg" alt="" class="img_4">
            <h5 class="titulo_article4">Disfruta la app</h5>
            <p class="p_article4">Lorem ipsum</p>
        </article>
    </div>
</section>