<section class="section3">
    <div class="column3">
        <h2 class="titulo-principal-section3">Cómo podemos ayudarte</h2>
        <article class="article3">
            <img class="img3" src="./images/3.png" alt="Envío">
            <div>
                <h3 class="titulo-secundario-section3">Envío</h3>
                <p class="description">Recibe tus compras rápido y seguro, donde quiera que estés. Ofrecemos opciones de envío flexibles para adaptarnos a tus necesidades.</p>
                <p><a class="learn-more3" href="">Learn more</a></p>
            </div>
        </article>
    </div>
    <div class="column3">
        <article class="article3">
            <img class="img3" src="./images/2.png" alt="Compra">
            <div>
                <h3 class="titulo-secundario-section3">Compra</h3>
                <p class="description">Compra fácil, rápida y segura con solo unos clics. Encuentra todo lo que necesitas al mejor precio.</p>
                <p><a class="learn-more3" href="">Learn more</a></p>
            </div>
        </article>
        <article class="article3">
            <img class="img3" src="./images/1.png" alt="Recepción">
            <div>
                <h3 class="titulo-secundario-section3">Recepción</h3>
                <p class="description">Recibe tus pedidos directamente en tu puerta, con seguimiento en tiempo real. ¡Tu satisfacción es nuestra prioridad!</p>
                <p><a class="learn-more3" href="">Learn more</a></p>
            </div>
        </article>
    </div>
</section>