<section class="section4">
    <h4 class="titulo_section4">Cómo trabajamos</h4>
    <div class="all_article4">
        <article class="article_4">
            <img src="./images/user-plus-solid.svg" alt="" class="img_4">
            <h5 class="titulo_article4">Crea una cuenta</h5>
            <p class="p_article4">Haz clic en "Crear una cuenta", ingresa tus datos personales y verifica tu correo electrónico. Completa tu perfil y comienza a usar el servicio.</p>
        </article>
        <article class="article_4">
            <img src="./images/check-solid.svg" alt="" class="img_4">
            <h5 class="titulo_article4">Obten autorización</h5>
                <p class="p_article4">Haz clic en "Obtener autorización", ingresa la información requerida y envía tu solicitud. Una vez aprobada, recibirás la confirmación para acceder a todas las funcionalidades.</p>
        </article>
        <article class="article_4">
            <img src="./images/face-smile-regular.svg" alt="" class="img_4">
            <h5 class="titulo_article4">Disfruta la app</h5>
            <p class="p_article4">Descarga la app, inicia sesión y accede a todas nuestras funcionalidades desde cualquier lugar. Disfruta de una experiencia rápida, sencilla y personalizada.</p>
        </article>
    </div>
</section>