<section class="section2">
    <div class="section2-left">
        <h1 class="section2-title">Nueva App E-commerce best for You</h1>
        <p class="section2-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam culpa numquam debitis odio. Nostrum commodi perferendis assumenda sint itaque illo laborum dignissimos laudantium blanditiis molestiae animi vel, doloremque reprehenderit debitis.</p>
        <div class="section2-buttons">
            <div class="section2-box-left"><img src="./images/apple.svg" alt=""></div>
            <div class="section2-box-right"><img src="./images/google.svg" alt=""></div>
        </div>
    </div>
    <div class="section2-right">
            <img src="./images/Mockup.png" alt="">
    </div>
    </section>
<section>