<section class="section5">
    <h2 class="tittle5">TOP PRODUCTOS</h2>
    <div class="container5">
        <article class="article5">
            <img src="./images/5.png" alt="">
            <div class="seccion5product">
                <p>Producto 1</p>
                <span>€25.16</span> 
            </div>
        </article>
        
        <article class="article5">
            <img src="./images/6.png" alt="">
            <div class="seccion5product  product2">
                <p> Producto 2 </p>
                <span>€20.99</span> 
            </div>
        </article>
        <article class="article5">
            <img src="./images/4.png" alt="">
            <div class="seccion5product  product2">
                <p>Producto 3 </p> 
                <span>€150.9</span>   
            </div>  
        </article>  
    </div>
</section>